@import '../../styles/variables.scss';

.formWrapper {
  padding: 20px 30px;

  h2 {
    text-align: center;
    text-transform: lowercase;
    margin: 50px 0 0 0;
  }

  p {
    margin: 10px auto 30px auto;
    width: 275px;
    text-align: center;
  }

  @media (min-width:$media-s-tablet) {
    text-align: center;
  }
}