@import '../../../styles/variables.scss';

.button {
  margin-top: 10px;
  font-size: 15px;
  padding: 15px;
  background: #edf2f4;
  border: none;
  color: #2C4F32;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s ease-in-out;

  &:hover {
    background: #2C4F32;
    color: white;
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
  }
}


.optionsWrapper {
  padding-top: 20px;

  @media (min-width:$media-s-tablet) {
    margin: 30px auto 0 auto;
    width: 300px;
  }
}

.optionWrapper {
  margin-bottom: 17px;
  display: flex;

  label {
    padding-left: 7px;
  }

  input {
    margin: 0;
  }

}

.nameLoader {
  height: 25px;
  min-width: 70%;
  background: #edf2f4;
  margin-left: 7px;
  position: relative;

  @media (min-width:$media-s-tablet) {
    min-width: 93%;
  }
}

/* Shine */
.nameLoader:after {
  content: '';
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  animation: slide 1.3s infinite;

  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
  /* IE6-9 */
}

/* animation */

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}