@import '../../../../styles/variables.scss';

.alergiesTitle {
  margin: 0 0 10px 0;
}

.answersWrapper {
  display: flex;
  padding-bottom: 10px;

  @media (min-width:$media-s-tablet) {
    justify-content: center;
  }
}

.alergiesAnswer {
  padding-right: 10px;
}

.transportAnswer {
  padding-right: 10px;
}