@import '../../../../styles/variables.scss';

.fieldset {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border: 2px solid;
}

.legend {
  background: #ffffff;
}

.optionsWrapper {
  display: flex;

  @media (min-width:$media-s-tablet) {
    justify-content: space-around;
  }
}

.inputWrapper {
  padding-right: 10px;
}