@import '../../../../styles/variables.scss';

.alergiesTitle {
  margin: 0 0 10px 0;
}

.answersWrapper {
  display: flex;
  padding-bottom: 10px;

  @media (min-width:$media-s-tablet) {
    justify-content: center;
  }
}

.alergiesAnswer {
  padding-right: 10px;
}

.alergiesTextFieldWrapper {
  display: flex;
  flex-flow: column;

  textarea {
    margin-top: 10px;
    font-size: 15px;
    padding: 5px;
  }
}