.list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 40px;
  }
}

.name {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

  p {
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-size: 23px;
  }

  img {
    margin-left: 5px;
  };
}

.icon {
  width: 15px;
}

.yesNoWrapper {
  display: flex;
}

.answer {
  opacity: 0.25;
  padding: 6px 15px 10px 15px;
  width: 50%;
  transition: 0.3s ease-in;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    background: #edf2f4;
  }
}

.active {
  opacity: 1;
  background: #085b38;
  color: white;
  
  &:hover {
    background: #085b38;
    color: white;
    opacity: 1;
  }
}