@import '../../../styles/variables.scss';

.wrapper {
  padding: 20px 30px;

  @media (min-width:$media-s-tablet) {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

.heading {
  display: flex;
  justify-content: center;
}

.icon {
  width: 25px;
  padding-right: 7px;

  @media (min-width:$media-s-tablet) {
    width: 35px;
  }
}

.button {
  margin-top: 10px;
  font-size: 15px;
  padding: 15px;
  background: #edf2f4;
  border: none;
  color: #2C4F32;
  cursor: pointer;
  border-radius: 2px;

  &:disabled {
    opacity: 0.3;
  }
}