@import '../../styles/variables.scss';

.sectionTitle {
    margin: 70px 0 20px 0;
}

.detailsWrapper {
    h2 {
        text-align: center;
        margin: 50px auto 0 auto;
        text-transform: lowercase;
        max-width: 300px;
    }
}

.detailItem {
    padding: 20px 30px;
    border-radius: 2px;

    .centeredText {
        text-align: center;
    }

    p {
        margin: 0;
    }

    ul {
        padding: 0 20px 20px 20px;
    }

    a {
        color: #2C4F32;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;

            img {
                transform: scale(1.003);
                box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px -3px;
            }
        }
    }

    img {
        margin-top: 10px;
        width: 100%;
    }

    @media (min-width:$media-s-tablet) {
        p {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    @media (min-width:$media-m-desktop) {
        p {
            max-width: 750px;
        }
    }
    
}

.dressCodeWrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;

    @media (min-width:$media-s-tablet) {
        justify-content: space-between;
    }
}

.dressCodeContent {
    @media (min-width:$media-s-tablet) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        ;
    }

}

.leftLeaf,
.rightLeaf {
    max-width: 33%;
}

.transportAndLocation {
    @media (min-width:$media-s-tablet) {
        display: flex;

        img {
            margin: 0;
            transition: all ease-in 0.2s;
        }
    }
}

.transportAndLocationContentWrapper {
    p {
        margin-top: 20px;
    }

    li {
        margin-bottom: 10px;
    }

    @media (min-width:$media-s-tablet) {
        padding: 0 20px;
        min-width: 33%;
    }
}

.accommodation {
    @media (min-width:$media-s-tablet) {
        text-align: center;
    }
}

.accommodationWrapper {
    @media (min-width:$media-s-tablet) {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 70px 0;
    }
}

.accommodationLeftLeaf {
    position: absolute;
    max-width: 20%;
    left: 0;
    transform: translateY(90px);
}

.accommodationRightLeaf {
    position: absolute;
    right: 0;
    max-width: 20%;
    transform: translateY(50px);
}