// @import "../../styles/breakpoints.scss";
// @import "../../styles/animations.scss";
// @import "../../styles/colors.scss";
// @import "../../styles/fonts.scss";

.wrapper {
//   background: $yellow;
  padding: 20px;

  form {
    // @media screen and (min-width: $break-to-tablet) {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   grid-auto-flow: row;
    //   grid-column-gap: 17px;
    // }

    // @media screen and (min-width: $break-to-desktop) {
    //   grid-column-gap: 60px;
    // }
  }

  .inputWrapper {
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;

    input {
      padding: 0 15px;

    //   @media screen and (min-width: $break-to-desktop) {
    //     padding: 5px 15px;
    //   }
    }

    textarea {
      padding: 15px;
    }

    input,
    textarea {
      margin-top: 5px;
      min-height: 33px;
      max-width: 400px;
    //   border: 1px solid $white;

      &:focus {
        // border: 1px solid $blue;
      }
    }

    textarea {
      margin-bottom: 20px;
      min-height: 100px;
      min-width: 125px;
    //   font-family: $main;
    }
    // @media screen and (min-width: $break-to-desktop) {
    //   padding-bottom: 20px;
    // }
  }

  .privacyPolicy {
    input {
      margin: 3px 5px 3px 0px;
    }

    a {
    //   color: $blue;

      &:hover {
        // color: $dark-blue;
      }
    }
  }

  .submitButton {
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    padding: 14px 24px;
    display: block;
    // font-family: $main;
    font-size: 16px;
    font-weight: 600;
    // color: $white;
    // background: $black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
    //   background: $blue;
    }
  }

//   @media screen and (min-width: $break-to-desktop) {
//     padding: 70px 10%;
//   }
}
